/* Fonts */

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v14-latin_cyrillic-500.woff2') format('woff2'), url('../fonts/rubik-v14-latin_cyrillic-500.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v14-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/rubik-v14-latin_cyrillic-700.woff') format('woff');
}

/*  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

.header {
    border-top: 4px solid #295093;
    background-color: #F6F6F9;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-logo {
    margin-right: 15px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}

.currency-list {
    display: flex;
    margin-right: auto;
}

.currency-item+.currency-item {
    margin-left: 25px;
}

.currency-value {
    margin-right: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #285193;
}

.course {
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
}

.search {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background: #FFFFFF;
    border-radius: 5px;
}

.search-icon {
    width: 18px;
    height: 18px;
    background-image: url(../images/svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.choose-languages {
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
}

.ru-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url(../images/svg/cif-ru.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.header-top-link {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
}

.telegram-icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-image: url(../images/svg/telegram.svg);
    background-size: contain;
}

.nav-menu {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 18px;
    padding: 20px 25px;
    list-style-type: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
}

.menu-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #515151;
}

.menu-link:hover {
    color: #295091
}

.president-image {
    position: absolute;
    width: 795px;
    height: 380px;
    left: 350px;
    top: 421px;
}

.main-paragraph {
    width: 795;
}

.president-paragraph {
    position: absolute;
    width: 794px;
    height: 588px;
    left: 350px;
    top: 817px;
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.hokim-paragraph {
    position: absolute;
    width: 790px;
    height: 21px;
    left: 350px;
    top: 1220px;
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #28508E;
}

.line-line {
    position: absolute;
    width: 794px;
    height: 2px;
    left: 350px;
    top: 1350px;
    background: #EBEBEB;
}

.covid-info {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    padding: 30px 35px;
    background-color: #F6F6F9;
    border-radius: 5px;
}

.covid-block {
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.covid-icon {
    width: 45px;
    height: 45px;
    margin-right: 25px;
    background-image: url(../images/svg/covid-logo.svg);
    background-repeat: no-repeat;
    background-size: 45px 45px;
}

.covid-heading {
    width: 230px;
    margin: 0;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.line {
    width: 2px;
    height: 74px;
    background-color: #EB5569;
}

.covid-statistics {
    width: 725px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.statistic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 30px;
}

.covid-small-icon {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    background-image: url(../images/svg/covid-face-with-medical-mask.svg);
}

.statistic:nth-child(2) .covid-small-icon {
    background-image: url(../images/svg/covid-smile.svg);
}

.statistic:nth-child(3) .covid-small-icon {
    background-image: url(../images/svg/covid-died.svg);
}

.statistic-info {
    margin-right: 30px;
}

.number {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.line-small {
    width: 2px;
    height: 49px;
    background-color: #F4CCD1;
}

/* Posts */

.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -9px 0;
    padding-bottom: 35px;
}

.post-service {
    width: 385px;
    margin: 9px 0;
}

.post-image {
    margin-bottom: 10px;
}

.post-heading {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.post:hover .post-heading {
    text-decoration: underline;
}

.post-data {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    margin-bottom: 40px;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
}

.bell-icon {
    width: 31px;
    height: 35px;
    background-image: url(../images/svg/bell-icon.svg);
    background-size: 31px 35px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.notification-text {
    margin: 0;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.notification-button {
    padding: 10px 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
}

.news .container {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.last-news {
    width: 815px;
}

.news-heading {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.news-item {
    width: 795px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.news-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.news-image {
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
}

.news-info {
    width: 525px;
}

.news-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.news-paragraph {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
}

.news-data {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}

.data-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(../images/svg/data-icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.news-item:hover .news-title {
    text-decoration: underline;
}

.last-news-link {
    width: 210px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 30px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #295093;
    border-radius: 5px;
}

.popular-news {
    width: 385px;
}

.popular-news-aside {
    margin-bottom: 20px;
    padding: 17px 20px;
    background: #F6F6F9;
    border-radius: 5px;
}

.popular-news-aside-first {
    position: absolute;
    width: 386px;
    height: 542px;
    left: 1165px;
    top: 507px;
    background: #F6F6F9;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 17px 20px;
}

.popular-news-aside-second {
    position: absolute;
    width: 386px;
    height: 500px;
    left: 1165px;
    top: 340px;
    background: #F6F6F9;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 17px 20px;
}

.popular-news-item {
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 4px solid #E4E4E4;
}

.popular-news-item:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.popular-news-text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.popular-news-item:hover .popular-news-text {
    text-decoration: underline;
}

.ucell {
    border-radius: 5px;
    object-fit: cover;
    object-position: 0 0;
}

.ucell-first {
    position: absolute;
    width: 386px;
    height: 477px;
    left: calc(50% - 386px/2 + 406px);
    top: 1069px;
    border-radius: 5px;
}

.ucell-second {
    position: absolute;
    width: 350px;
    height: 450px;
    left: calc(50% - 386px/2 + 406px);
    top: 865px;
    border-radius: 5px;
}

.post-header-second {
    position: absolute;
    width: 170px;
    height: 48px;
    left: 350px;
    top: 1390px;
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.post-list-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 1050px;
}

.post-heading-one {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    width: 380px;
}

.footer-article-one {
    position: absolute;
    width: 1300px;
    height: 225px;
    left: 270px;
    top: 1845px;
    background: #295093;
}

.apps-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 40px;
    background: #F6F6F9;
    border-radius: 5px;
}

.phone-image {
    width: 235px;
    height: 175px;
    margin-top: 35px;
    background-image: url(../images/png/phone.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.apps-info {
    width: 545px;
}

.apps-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
}

.apps-text {
    width: 520px;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.apps-link {
    display: flex;
}

.apps-link:nth-child(1) {
    margin-right: 20px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    background: #295093;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-bottom: 20px;
    border-bottom: 3px solid #133C82;
}

.footer-top-text {
    margin: 0;
    margin-right: 20px;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.footer-top-link {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.telegram-icon-blue {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-image: url(../images/svg/icon-telegram-blue.svg);
    background-size: contain;
}

.footer-bottom {
    display: flex;
    align-items: flex-start;
}

.footer-info {
    width: 365px;
}

.footer-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.footer-text {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
}

.footer-menu {
    margin-left: 120px;
}

.footer-menu-item {
    margin-bottom: 12px;
}

.footer-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.footer-menu-link:hover {
    text-decoration: underline;
}